
body {
    font-family: Algerian;
  }

.bgcolor__{
    background-color: rgb(248,236,226);
}

.bgcolor{
  background-color: rgb(250,222,237);
}

.bgcolor2_{
  background-color: rgb(194,93,51);
}

.bgcolor2{
  background-color: rgb(255,141,198);
}

/* @font-face {
  font-family: 'NewFont';
  src: url('fonts/font.ttf');
} */

@font-face {
  font-family: 'NewFont';
  src: url('fonts/font.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

.image_{
  height: 50%!important;
  width: 50%!important;
}

.newfont{
  font-family: 'NewFont', 'Arial';
}

.menu {
  font-size: 24px;
  font-family: 'NewFont', 'Arial';
}